body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
.btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: white;
  border: 0;
  font-size: 20px;
  font-weight: 700;
}
.section-width {
  max-width: 1250px;
  margin: 0 auto;
}
.banner-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e554731a;
}
.banner-text {
  padding-left: 100px;
}
.banner-img {
  width: 550px;
  height: 615px;
  padding-top: 50px;
}
.banner-heading {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* hot-deals-style */
#hot-deals {
  width: 100%;
  height: auto;
  background-color: #e554730d;
}
.hot-deals-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.hot-deals-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.hot-deals-color {
  color: #e55473;
}
.hot-deals-paragraph {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
  margin-top: 24px;
}

/* instragram-section-styles */
.instagram-heading {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.instagram-container {
  display: flex;
  justify-content: space-between;
}
.instagram-container .box > img {
  width: 250px;
  height: 300px;
}
/* latest-deals-styles */
#get-the-latest-deals {
  background: url("asset/Rectangle\ 9.png");
  width: 100%;
  height: 449px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.latest-deals-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.input-form input {
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  width: 600px;
  height: 45px;
  padding: 10px 35px;
  border: 0;
}

/* footer-styles */
footer {
  background-color: #111010;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 0;
}
.footer-heading {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}
.footer-heading-extra {
  color: #e55473;
}
.footer-text {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.copyright-content {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
